mixin navigation(self, menu)
  - var sections = ['intro', 'config', 'plus', 'dev', 'about'];

  for section in sections
    - var active = section == self.section ? 'active' : '';

    li
      a(href='javascript:void', class='#{active}')= section
      ul
        for item in menu[section]
          li
            a(href='/#{item.url}')
              = item.menuTitle

mixin versionDropdown(versions, current)
  li
    a(href='javascript:void')= 'v' + current
    ul
      each version in versions
        li
          a(href='/#{version}/index.html')= 'v' + version

mixin themeDropdown()
  script.
    function switchTheme(event, theme) {
      event.preventDefault();
      const lightThemeStyle = document.querySelector("#app-style");
      const darkThemeStyle = document.querySelector("#app-style-dark");
      // Swap out the URL for the different stylesheets
      if (theme === 'dark') {
        lightThemeStyle.rel = "alternate";
        darkThemeStyle.rel = "stylesheet";
      } else {
        lightThemeStyle.rel = "stylesheet";
        darkThemeStyle.rel = "alternate";
      }
      localStorage.setItem('theme', theme);
    }
  li
    a(href='javascript:void')= 'theme'
    ul
      li
        a(href='#', onclick="switchTheme(event, 'dark'); return;")= 'Dark'
      li
        a(href='#', onclick="switchTheme(event, 'light'); return;")= 'Light'


mixin usersSection(users)
  if(users)
    for item in users
      div(class='user-item')
        a(href='#{item.webUrl}' title='#{item.name}')
          img(src='#{item.imgUrl}' alt='#{item.name}')
